<script type="template/javascript" id="content-table_template">
  <table>
    <%% _.each(tableRows, function(category){ %>
      <tr class="content-title content-row">
        <td><%%= category.name %></td>
      </tr>
      <%% _.each(category.content, function(row){ %>
        <%% if (typeof(row) == "object") { %>
          <tr class="content-subtitle content-row">
            <td><%%= row.name %></td>
          </tr>
          <%% _.each(row.content, function(row){ %>
            <tr class="content-item content-row">
              <td><%%= row %></td>
            </tr>
          <%% }); %>
        <%% } else { %>
          <tr class="content-item content-row">
            <td><%%= row %></td>
          </tr>
        <%% } %>
      <%% }); %>
    <%% }); %>
  </table>
</script>
<script type="template/javascript" id="make-select_template">
  <option value="">
    Choose a make...
  </option>
  <%% _.each(makes, function(make){ %>
    <option value="<%%= make.makeName %>">
      <%%= make.makeName %>
    </option>
  <%% }); %>
</script>
<script type="template/javascript" id="model-select_template">
  <option value="">Choose a model...</option>
  <%% _.each(models, function(model){ %>
    <%% _.each(model.modelYears, function(year){ %>
      <option value="<%%= year.modelPath %>">
        <%%= year.modelYearName %>
        ,&nbsp;
        <%%= year.modelYear %>
      </option>
    <%% }); %>
  <%% }); %>
</script>
