/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto+Condensed:400italic,700italic,400,700);

body {
  font-family: "Roboto Condensed", Helvetica, Sans-Serif;
}

#load-cars {
  font-family:  "Roboto Slab", Helvetica, Sans-Serif;
}

.content-title {
  color: #464646;
  font-size: 18px;
  font-weight: 700;
}

.content-subtitle {
  color: #464646;
  font-size: 16px;
  font-weight: 700;
}

button {
  color: red;
}

.table td {
  width: 100px;
  height: 30px;
  border: 1px solid black;
}
.table {
  border-collapse: collapse
}

.compare-table {
  border-collapse: collapse;
}
.compare-table td {
  border: 1px solid #A5A5A5;
}
.row-title {
  width: 200px;
}
.data-cell {
  width: 150px;
}
.rec {
  display: none;
}
.model-bar a {
  display: none;
}
.model-bar {
  display: block;
  width: 146px;
  background: #ccc;
  cursor: pointer;
}
.model-bar:hover {
  background: #ddd;  
}
.model-bar:before {
  content: "remove";
  font-size: 14px;
}

.model-bar:after {
  float: left;
  content: "\2716";
  font-size: 12px;
  margin-top: 5px;
  margin-left: 5px;
}

.btn {
  width: 150px;
  height: 30px;
  text-transform: uppercase;
  border: 1px solid black;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  background: #572a5b; /* Old browsers */
  background: -moz-linear-gradient(top,  #c5deea 0%, #8abbd7 0%, #066dab 47%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5deea), color-stop(0%,#8abbd7), color-stop(47%,#066dab)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c5deea 0%,#8abbd7 0%,#066dab 47%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c5deea 0%,#8abbd7 0%,#066dab 47%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c5deea 0%,#8abbd7 0%,#066dab 47%); /* IE10+ */
  background: linear-gradient(to bottom,  #c5deea 0%,#8abbd7 0%,#066dab 47%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */

}
#compare {
  margin-top: 25px;
}
.model-name {
  font-size: 17px;
}
.model-item {
  font-size: 14px;
}

.content-item.item-hidden,
.content-subtitle.item-hidden
 {
  display: none;
}

.sub-item.sub-item-hidden {
  display: none;
}

.content-title, .content-subtitle {
  font-family: "Roboto Slab", Helvetica, Sans-Serif;
  cursor: pointer;
}

.content-title {
  border-right: 1px solid #a5a5a5;
  background: #99ccff; /* Old browsers */
  background: -moz-linear-gradient(top,  #99ccff 0%, #59acff 49%, #a6c8ea 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99ccff), color-stop(49%,#59acff), color-stop(100%,#a6c8ea)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #99ccff 0%,#59acff 49%,#a6c8ea 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #99ccff 0%,#59acff 49%,#a6c8ea 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #99ccff 0%,#59acff 49%,#a6c8ea 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #99ccff 0%,#59acff 49%,#a6c8ea 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ccff', endColorstr='#a6c8ea',GradientType=0 ); /* IE6-9 */
}

.content-subtitle {
  background: #bed8cc; /* Old browsers */
  background: -moz-linear-gradient(top,  #bed8cc 0%, #c1ddc9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bed8cc), color-stop(100%,#c1ddc9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #bed8cc 0%,#c1ddc9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #bed8cc 0%,#c1ddc9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #bed8cc 0%,#c1ddc9 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #bed8cc 0%,#c1ddc9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bed8cc', endColorstr='#c1ddc9',GradientType=0 ); /* IE6-9 */

}

.content-title td:first-child:before {
  content: "";
  border: 5px solid transparent;
  border-left: 5px solid #000;
}
.content-title td {
  border: none;
}


.content-title:first-child td {
  border: 1px solid #a5a5a5;
}
.content-title:first-child {
  background: none;
}

.content-subtitle td {
  padding-left: 15px;
}

.content-item:nth-child(2n) {
  background: #ddd;
}

.btn.red {
  background: #f2bcbc; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2bcbc 0%, #c10000 58%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2bcbc), color-stop(58%,#c10000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f2bcbc 0%,#c10000 58%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f2bcbc 0%,#c10000 58%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f2bcbc 0%,#c10000 58%); /* IE10+ */
  background: linear-gradient(to bottom,  #f2bcbc 0%,#c10000 58%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2bcbc', endColorstr='#c10000',GradientType=0 ); /* IE6-9 */

  border: 1px solid #aaa;

  }